@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  background-color: #F3F3F3;
}
.lemonborder a:hover{
 border-bottom: 2px solid #B9FF66;
}
.blackborder a:hover{
 border-bottom: 2px solid black;
}

.light{
  background-color: #F3F3F3;
  color: black;
}

.dark{
  background-color:  #242124;
  color: #E0E0E0;

}
.dark button{
  border : 1px solid #B9FF66;
}
.dark button:hover{
  background-color:  #B9FF66;
  color: black;
  transition:all .2s ease;
}
.custom-radio {
  cursor: pointer; /* Indicate clickable element on hover */
  width: 30px;
  height: 30px;
 
  
}

.custom-radio input {
  position: absolute; /* Hide the default radio button */
  opacity: 0; /* Completely hide the default button */

  
}

.custom-radio:before {
  content: ""; /* Create a pseudo-element for the button */
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #ccc; /* Set border for the radio button */
  border-radius: 50%; /* Create a circular radio button */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.custom-radio:checked:before {
  background-color: #B9FF66 /* Change color when radio is checked */
}